#headerpic img{
	width: 97%;
    margin: 20px;
    padding: none;
    height: 250px;
  	display: flex;
}
#headerpic {
	top: 10px;
    position: relative;
 
}
#image-text{
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: Roboto,Arial,sans-serif;
    color: white;
    text-align: center;

}
label {
	color: black;
	 font-family: Roboto,Arial,sans-serif;
}

legend {
	background-color: #1c87c9;
	padding: 10px;
	color: white;
	font-family: Roboto,Arial,sans-serif;
}
.grid-container1 , .grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-container1 ,.grid-container2 > div {
  background-color: rgba(214, 234, 248);
  text-align: left;
  padding:5px;
  
 
}
.gridright1 , .gridright2 {
	
}
fieldset{
  background-color: rgba(214, 234, 248);
  margin: 20px;
}

input {
	width: 100%;
	border-radius: 8px;
	padding: 5px;
}
input : focus {
	border-width: 2px;
	border-style: solid;
	border-color: #43D1AF;
}
.submit {
	color: white;
	background-color: #1db6a7;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border-style: none;
	margin-left: 20px;

}
.reset {
	color: white;
	background-color: #1db6a7;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border-style: none;
}